<div class="debugMode">
	<h5>{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.DebugMode.Label'}}</h5>
	<div style="display: flex; justify-content: space-evenly;">
		<span>{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.DebugMode.Content'}}</span>
		<span id="debugMode" style="font-style: italic; color: {{#if debug}}green{{else}}red{{/if}};">{{#if debug}}{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.DebugMode.On'}}{{else}}{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.DebugMode.Off'}}{{/if}}</span>
	</div>
	<a class="button" data-action="debugMode"><i class='fas fa-gear'></i> {{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.DebugMode.Button'}}</a>
</div>
<div class="reset">
	<h5>{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Reset.Label'}}</h5>
	<span>{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Reset.Content'}}</span>
	<span style="font-style: italic;">{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Reset.Hint'}}</span>
	<div style="display: flex; gap: 2px;">
		<a class="button" data-action="resetLooting" style="flex: 1;"><i class='fas fa-refresh'></i> {{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Reset.Looting'}}</a>
		<a class="button" data-action="resetGenerator" style="flex: 1;"><i class='fas fa-refresh'></i> {{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Reset.Generator'}}</a>
		<a class="button" data-action="resetScripts" style="flex: 1;"><i class='fas fa-refresh'></i> {{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Reset.Scripts'}}</a>
	</div>
</div>
<div class="update">
	<h5>{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Update.Label'}}</h5>
	<span>{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Update.Content'}}</span>
	<span>{{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Update.Hint'}}</span>
	<a class="button" data-action="updateScripts"><i class='fas fa-refresh'></i> {{localize 'WFRP4E.Looting.Settings.debugMenu.Dialog.Update.Button'}}</a>
</div>