<div id="WFRP4eLooting_Message">
	{{#if notEmpty}}
        <p>
            {{#if money}}
                <b>{{localize "WFRP4E.Looting.Chat.Coins"}}</b>: <a class="action-link" data-args="amount={{money}} target={{user}}" data-action="clickCredit"><i class="fas fa-coins"></i>{{money}}</a>.
	        {{else}}
                <b>{{localize "WFRP4E.Looting.Chat.Coins"}}</b>: <i>{{localize "WFRP4E.Looting.Chat.Nothing"}}</i>.
	        {{/if}}
            {{#if items.price}}
                <br>
                <b>{{localize "WFRP4E.Looting.Chat.Prey"}}</b> (<a class="action-link" data-args="amount={{items.price}} target={{user}}" data-action="clickCredit"><i class="fas fa-coins"></i>{{items.price}}</a>):
                <ul>
                    {{#each items.list}}
                        <li data-tooltip="{{tableName}}"><i>{{item}} (<a class="action-link" data-args="amount={{price}}{{type}} target={{user}}" data-action="clickCredit"><i class="fas fa-coins"></i>{{price}}{{type}}</a>)</i></li>
                    {{/each}}
                </ul>
            {{/if}}
        </p>
    {{else}}
        <p style="text-align: center; font-weight: bold;"><i class="fas fa-face-sad-tear"></i> {{localize "WFRP4E.Looting.Chat.Empty"}}</p>
	{{/if}}
</div>