<input type="hidden" class="{{#if preset.disabled}}disabled{{else}}enabled{{/if}}">
<div class="description">
    <input type="text" class="name" value="{{preset.name}}" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Description.Hint'}}" required {{#if preset.disabled}}disabled{{/if}}>
    <textarea class="hint" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Description.Tooltip'}}" {{#if preset.disabled}}disabled{{/if}}>{{preset.hint}}</textarea>
    <select class="type" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Description.Type'}}" {{#if preset.disabled}}disabled{{/if}}>
        <option {{#if (eq preset.type "brass")}}selected{{/if}} value="brass">{{localize 'TIER.Brass'}}</option>
        <option {{#if (eq preset.type "silver")}}selected{{/if}} value="silver">{{localize 'TIER.Silver'}}</option>
        <option {{#if (eq preset.type "gold")}}selected{{/if}} value="gold">{{localize 'TIER.Gold'}}</option>
    </select>
</div>
<hr>
<div class="money">
    <div class="gc">
        <input type="number" min="0" max="100" step="1" class="gc_chance" value="{{preset.money.gc.chance}}" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Chance'}}" {{#if preset.disabled}}disabled{{/if}}>
        %:&nbsp;
        <input type="number" min="1" step="1" class="gc_dices" value="{{preset.money.gc.dices}}" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Dices.Quantity'}}" {{#if preset.disabled}}disabled{{/if}}>
        &nbsp;d&nbsp;
        <select class="gc_sides" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Sides.Quantity'}}" {{#if preset.disabled}}disabled{{/if}}>
            <option {{#if (eq preset.money.gc.sides "1")}}selected{{/if}} value="1">1</option>
            <option {{#if (eq preset.money.gc.sides "5")}}selected{{/if}} value="5">5</option>
            <option {{#if (eq preset.money.gc.sides "10")}}selected{{/if}} value="10">10</option>
            <option {{#if (eq preset.money.gc.sides "100")}}selected{{/if}} value="100">100</option>
        </select>
        <span data-tooltip="{{localize 'NAME.GC'}}">&nbsp;<b>{{localize "MARKET.Abbrev.GC"}}</b></span>
    </div>
    <div class="ss">
        <input type="number" min="0" max="100" step="1" class="ss_chance" value="{{preset.money.ss.chance}}" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Chance'}}" {{#if preset.disabled}}disabled{{/if}}>
        %:&nbsp;
        <input type="number" min="1" step="1" class="ss_dices" value="{{preset.money.ss.dices}}" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Dices.Quantity'}}" {{#if preset.disabled}}disabled{{/if}}>
        &nbsp;d&nbsp;
        <select class="ss_sides" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Sides.Quantity'}}" {{#if preset.disabled}}disabled{{/if}}>
            <option {{#if (eq preset.money.ss.sides "1")}}selected{{/if}} value="1">1</option>
            <option {{#if (eq preset.money.ss.sides "5")}}selected{{/if}} value="5">5</option>
            <option {{#if (eq preset.money.ss.sides "10")}}selected{{/if}} value="10">10</option>
            <option {{#if (eq preset.money.ss.sides "100")}}selected{{/if}} value="100">100</option>
        </select>
        <span data-tooltip="{{localize 'NAME.SS'}}">&nbsp;<b>{{localize "MARKET.Abbrev.SS"}}</b></span>
    </div>
    <div class="bp">
        <input type="number" min="0" max="100" step="1" class="bp_chance" value="{{preset.money.bp.chance}}" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Chance'}}" {{#if preset.disabled}}disabled{{/if}}>
        %:&nbsp;
        <input type="number" min="1" step="1" class="bp_dices" value="{{preset.money.bp.dices}}" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Dices.Quantity'}}" {{#if preset.disabled}}disabled{{/if}}>
        &nbsp;d&nbsp;
        <select class="bp_sides" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Sides.Quantity'}}" {{#if preset.disabled}}disabled{{/if}}>
            <option {{#if (eq preset.money.bp.sides "1")}}selected{{/if}} value="1">1</option>
            <option {{#if (eq preset.money.bp.sides "5")}}selected{{/if}} value="5">5</option>
            <option {{#if (eq preset.money.bp.sides "10")}}selected{{/if}} value="10">10</option>
            <option {{#if (eq preset.money.bp.sides "100")}}selected{{/if}} value="100">100</option>
        </select>
        <span data-tooltip="{{localize 'NAME.BP'}}">&nbsp;<b>{{localize "MARKET.Abbrev.BP"}}</b></span>
    </div>
</div>
{{#if preset.disabled}}
    <input type="hidden" class="add">
{{else}}
    <hr class="separator">
    <a class="add" data-tooltip="{{localize 'WFRP4E.Looting.Dialog.Presets.Items.Add'}}" onclick="addItem(this)"><i class='fas fa-plus'></i></a>
    
    <script>
        async function addItem(html) {
            let item = await foundry.applications.handlebars.renderTemplate('modules/wfrp4e-looting/templates/customPreset/items.hbs', {item: {table: {key: "looting", column: ""}, chance: 0, dices: 1, sides: 1, price: {dices: 1, sides: 1, modifier: 0}}});
            html.insertAdjacentHTML('beforebegin', item);
        };
    </script>
{{/if}}